In [1]:
import pandas as pd

In [2]:
pd.read_csv("data.csv")

                                               reviews sentiment
0    Every great gangster movie has under-currents ...  positive
1    I just saw this film last night, and I have to...  positive
2    This film is mildly entertaining if one neglec...  negative
3    Quentin Tarantino's partner in crime Roger Ava...  negative
4    I sat through this on TV hoping because of the...  negative
..                                                 ...       ...
495  I was really disappointed by this movie. Great...  negative
496  This is a great example of a good, dumb movie....  positive
497  Do you know that they want to escavate the Moo...  negative
498  I really wanted to like The Pillow Book. Intri...  negative
499  Steve Biko was a black activist who tried to r...  positive

[500 rows x 2 columns]